.form{
    width: 500px;
    border: 1px solid #555;
    border-radius: 3px;
    padding: 10px;
}

.head-content{
    display: flex;
    padding-bottom: 5px;
    border-bottom: 1px solid #555;
}

.title {
    width: 92%;
}

.title input{
    border: none;
    background-color: inherit;
}

.form-body{
    padding-top: 10px;
}

.form-content input{
    border: none;
    background-color: inherit;
}

.form-content input{
    display: block;
    width: 100%;
}